<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
  <title>Madrid Central</title>
  <link rel="stylesheet" href="./assets/css/main.css">
  <link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet">
  <link rel="shortcut icon" href="favicon.png">
</head>
<body>
  <header class="header">
    <h1 class="header__title">Los atasquitos</h1>
  </header>
  <main class="main">
    <button class="btn">
      ¡ Otro atasco en Madrid Central !
    </button>
    <p id="mainText" class="text"></p>
    <a class="twitter hidden"
      href="" data-size="large" target="_blank">
      <i class="fab fa-twitter"></i>
    Tweet
    </a>
  </main>
  <footer class="footer">
    <p class="copyright">© 2019</p>
  </footer>
  <script src="./assets/js/main.js"></script>
</body>
</html>
